* { 
  margin: 0; 
  padding: 0; 
  /*border: 1px solid black;*/
}

body { 
  margin: 20px; 
  overflow: hidden;
}

#title {
  border: 1px solid black;
  padding: 5px;
  display: inline-block;
}

#title:hover {
  color: darkblue;
}

p {
  color: darkblue;
}
